

/* Shared styles */
body{
    background-color: #EDEDED;;
}
.width-95{
    width: 90%;
}
.width-70{
    width: 70%;
}
.width-50{
    width: 50%;
}
.width-30{
    width: 30%;
}
*{
    font-family: Nantes;
}

.title{
    font-size: 3rem;
}

.item-center{
    align-items: center;
}

.sz-60{
    width: fit-content;
    max-height: 100%;
}

/*  */
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    height: 100px;
    padding: 20px 20px;
}


.cardd img {
    position: absolute;
    top:-40px; /* Half of the image height to center it vertically */
    left: 1rem; /* Adjust as needed */
    width: 120px; /* Image size */
    height: 120px; /* Image size */
}


footer{
    background-color: rgba(230, 230, 230, 1);
}


.masina{
    font-family:sans-serif;
}


@media screen and (max-width : 576px){
    .footer-container{
        flex-direction: column;
        gap:20px;
    }
}